.ctr {
  max-width: 1394px;
  margin: 204px auto 274px;

  @media screen and (max-width: 1440px) {
    margin-left: 36px;
    margin-right: 36px;
  }

  @media screen and (max-width: 991px) {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 575px) {
    margin-top: 50px;   
  }

  &__container {
    display: block;
    width: 639px;
    min-height: 524px;
    padding: 81px 28px 28px;
    background: #F2F6F9;
    border-radius: 15px;
    cursor: pointer;
    color: $dark-blue;

    &:first-child {
      margin-right: 116px;

      @media screen and (max-width: 1440px) {
        margin-right: 50px;
      }

      @media screen and (max-width: 768px) {
        margin-right: 0;
      }
    }

    @media screen and (max-width: 1440px) {
      width: calc(50% - 25px);
    }
    @media screen and (max-width: 991px) {
      min-height: unset;
      padding-top: 30px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
      width: 100%;
    }

  }

  &__img {
    margin-bottom: 36px;

    @media screen and (max-width: 991px) {
      width: 110px;
    }

    @media screen and (max-width: 575px) {
       width: 80px; 
       margin-bottom: 15px;
    }
  }

  &__title {
    margin-bottom: 27px;
    font-weight: 200;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    @media screen and (max-width: 991px) {
      font-size: 24px;
      line-height: 28px;
    }

    @media screen and (max-width: 575px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__description {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    @media screen and (max-width: 991px) {
      font-size: 18px;
      line-height: 22px;
    }

    @media screen and (max-width: 575px) {
      font-size: 14px;
      line-height: 18px; 
    }
  }
}