.footer {
  margin: 15px;
  background-color: $dark-blue;
  border-radius: 15px;
  color: $text-light;

  &__content {
    max-width: 1376px;
    display: flex;
    margin: 0 auto;
    padding: 98px 24px 24px;

    @media screen and (max-width: 1220px) {
      justify-content: space-around !important;
    }

    @media screen and (max-width: 850px) {
      padding-top: 16px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__mobile {
    display: none;

    @media screen and (max-width: 850px) {
      display: flex;
    }
  }

  &__desktop {
    @media screen and (max-width: 850px) {
      display: none;
    }
  }

  &__mob-first {
    @media screen and (max-width: 850px) {
      order: -1;
      margin-bottom: 43px;
    }
  }

  &__contacts {
    @media screen and (max-width: 1220px) {
      display: none !important;
    }
  }

  &__nav {
    display: flex;
    flex-grow: 1;

    @media screen and (max-width: 1220px) {
      flex-grow: 0;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media screen and (max-width: 575px) {
      width: 100%;
    }

    &-name {
      margin-bottom: 23px;
      font-weight: 600;
      font-size: 30px;
      line-height: 38px;
    }

    &-list {
      margin-bottom: 0;
      list-style-type: none;

      @media screen and (max-width: 850px) {
        margin-bottom: 38px;
      }
    }

    &-text {
      margin-bottom: 15px;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__link {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;

    color: $text-light;
  }

  &__form {
    margin-bottom: 28px;

    @media screen and (max-width: 575px) {
      align-items: center;
      .form-group {
        flex-grow: 1;
        margin-bottom: 0;
      }
    }
  }

  &__input {
    padding: 8px;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    background-color: #dee4ea;
    border-radius: 15px;
  }

  &__btn {
    padding: 8px 35px;
    margin-left: 11px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    background-color: #599CC1;
    color: $text-light;
    border-radius: 15px;
  }

  &__social {
    &:not(:last-child) {
      margin-right: 11px;
    }
  }

  &__copy {
    width: 100%;
    margin-top: 95px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;

    color: #6C7F8B;

    @media screen and (max-width: 850px) {
      margin-top: 30px;
    }
  }
}
