.navbar {
  height: 74px;
  padding: 14px 80px;
  background-color: #ffffff;

  @media screen and (max-width: 1199px) {
    max-width: 100%;
    padding: 14px 0px;
  }

  &-collapse {
    @media screen and (max-width: 992px) {
      min-width: 100vw;
      width: 100vw;
      height: 100vh;
      min-height: 100vh;
      background-color: #fff;
    }
  }
}

.header {
  @media screen and (max-width: 1199px) {
    max-width: 100%;
  }

  &__buttons {
    display: none;
    @media screen and (max-width: 992px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__helpers {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  &__mobile {
    display: none;

    @media screen and (max-width: 992px) {
      display: flex;
    }
  }

  .navbar-nav {
    @media screen and (max-width: 992px) {
      align-items: center;

      .nav-item.mr-auto {
        margin-right: 0 !important;
        margin-bottom: 90px;
      }

      .nav-item-last {
        margin-bottom: 90px;
      }
    }
  }


  .nav {
    &-item {
      padding-left: 7px;
      padding-right: 7px;

      @media screen and (max-width: 1100px) {
        padding-left: 3px;
        padding-right: 3px;
      }

      @media screen and (max-width: 992px) {
        padding-left: 7px;
        padding-right: 7px;
      }
    }

    &-link {
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      color: $dark-blue;

      &.active {
        text-decoration: line-through;
      }
    }
  }
}
