.navbar {
  padding: 14px 80px;
  background-color: #ffffff;

  @media screen and (max-width: 1199px) {
    padding: 14px;
  }
}

.nav {
  &-item {
    padding-left: 7px;
    padding-right: 7px;
  }

  &-link {
    font-size: 24px;
    line-height: 30px;
    color: $text-dark;

    transition: opacity ease 0.5s;

    &:hover {
      color: $text-dark;
      opacity: 0.65;
    }

    &.active {
      text-decoration: line-through;
    }
  }
}

