.index {
  &__header {
    position: relative;
    min-height: calc(100vh - 74px);
    background-image: url(../img/main-top-bg.jpg);
    background-size: cover;

    @media screen and (max-width: 1220px) {
      padding-top: 40px;
    }
  }

  &__socials {
    position: absolute;
    top: 50px;
    right: 95px;

    @media screen and (max-width: 1650px) {
      top: 25px;
      right: 25px;
    }

    @media screen and (max-width: 1500px) {
      top: 10px;
      right: 10px;
    }

    @media screen and (max-width: 1440px) {
      display: none !important;
    }
  }

  &__social {
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: transparent;
    transition: background-color ease 0.5s;

    &:hover {
      background-color: #DEE4EA;
    }

    &:not(:last-child) {
      margin-bottom: 1px;
    }
  }

  &__desktop {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__mobile {
    display: none;
    @media screen and (max-width: 767px) {
      display: flex;
    }
  }

  &__heading {
    margin-bottom: 39px;
    font-weight: 200;
    font-size: 72px;
    line-height: 86px;
    color: $text-light;
    padding: 0 15px;

    @media screen and (max-width: 767px) {
      text-align: center;
      font-size: 55px;
    }

    @media screen and (max-width: 575px) {
      font-size: 38px;
      line-height: 38px;
      margin-bottom: 4px;
    }
  }

  &__transports {
    margin-bottom: 35px;
  }

  &__transport {
    padding: 10px;
    border-radius: 15px;
    font-size: 35px;
    line-height: 1;
    color: $text-light;
    background-color: transparent;
    transition: color ease 0.8s background-color ease 0.5s;

    @media screen and (max-width: 575px) {
      width: 41px;
      height: 41px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 26px;
    }

    &:not(:last-child) {
      margin-right: 51px;
    }
    
    &.active {
      color: $dark-blue;
      background-color: $text-light;
    }

    &:hover {
      background-color: #DEE4EA;
    }
  }

  &__constructor-wr {
    width: 1324px;
    min-height: 112px;
    padding-left: 30px;
    margin-bottom: 32px;
    background-color: $text-light;
    border-radius: 60px;

    .heading__selects {
      margin-bottom: 0;
    }

    @media screen and (max-width: 1350px) {
      width: 1220px;
    }

    @media screen and (max-width: 1220px) {
      width: 400px;
      padding-left: 0;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    @media screen and (max-width: 575px) {
      border-radius: 15px;
    }
  }

  &__constructor {
    #index__submit {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 101px;
      height: 101px;
      border-radius: 60px;
      margin: 6px;
      background-color: $dark-blue;
      cursor: pointer;
      transition: opacity ease 0.5s;

      @media screen and (max-width: 1220px) {
        height: 55px;
      }

      @media screen and (max-width: 575px) {
        height: 38px;
        min-width: 75px;

        img {
          width: 32px;
        }
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__tagline {
    margin-bottom: 200px;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    color: $text-light;
    padding: 0 15px;

    @media screen and (max-width: 767px) {
      text-align: center;
      font-size: 22px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 575px) {
      font-size: 14px;
    }
  }

  &__plans-wr, &__ways-wr, &__events-wr {
    padding: 240px 0;

    @media screen and (max-width: 1220px) {
      padding: 100px 0;
    }

    @media screen and (max-width: 575px) {
      padding: 75px 0;
    }
  }

  &__plans {
    @media screen and (max-width: 1220px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    &-info {
      width: 1180px;
      margin: 0 auto;

      @media screen and (max-width: 1220px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }
    }

    &-text {
      max-width: 495px;
      font-weight: 300;
      font-size: 30px;
      line-height: 38px;
      color: $dark-blue;

      @media screen and (max-width: 1220px) {
        margin-bottom: 30px;
      }

      @media screen and (max-width: 767px) {
        font-size: 24px;
      }

      @media screen and (max-width: 575px) {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 46px;
      }
    }

    &-plus {
      &:not(:last-child) {
        margin-bottom: 63px;
      }

      @media screen and (max-width: 575px) {
        margin-bottom: 26px;
      }
    }
  }

  &__plus {
    font-weight: 200;
    font-size: 48px;
    line-height: 58px;
    color: $dark-blue;

    @media screen and (max-width: 767px) {
      font-size: 38px;
    }

    @media screen and (max-width: 575px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__number {
    margin-right: 56px;
    font-weight: 200;
    font-size: 64px;
    line-height: 77px;
    color: #000000;

    @media screen and (max-width: 575px) {
      font-size: 24px;
      line-height: 29px;
      margin-right: 26px;
    }
  }

  &__title {
    position: relative;
    width: 1180px;
    margin: 0 auto 55px;
    font-weight: 200;
    font-size: 64px;
    line-height: 77px;
    color: $dark-blue;

    @media screen and (max-width: 1220px) {
      width: 100%;
      text-align: center;

      br {
        display: none;
      }
    }

    @media screen and (max-width: 767px) {
      font-size: 45px;
    }

    @media screen and (max-width: 575px) {
      width: auto;
      margin-right: auto;
      margin-left: 12px;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 32px;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 10px;
      left: -25px;
      width: 1px;
      height: 90%;
      background-color: #599cc1;

      @media screen and (max-width: 575px) {
        top: 3px;
        left: -9px;
      }
    }
  }

  &__ways {
    @media screen and (max-width: 1220px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media screen and (max-width: 575px) {
      .index__title {
        width: 270px;
      }
    }
    &-place {
      position: relative;
      width: 100%;
      margin-top: 125px;

      @media screen and (max-width: 1220px) {
        flex-direction: column !important;
        align-items: center;
      }

      &:first-child {
        margin-top: 150px;

        @media screen and (max-width: 1220px) {
          margin-top: 60px;
        }
      }

      @media screen and (max-width: 1220px) {
        margin-top: 70px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: -165px;
        width: 1px;
        height: 220px;
        background-color: #599CC1;

        @media screen and (max-width: 1220px) {
          height: 50px;
          top: -60px;
        }
      }

      &--left {
        flex-direction: row;
      }

      &--right {
        flex-direction: row-reverse;
      }

      &-year {
        margin-bottom: 22px;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;

        @media screen and (max-width: 1220px) {
          margin-bottom: 0;
          margin-top: 10px;
        }
      }

      &-name {
        margin-bottom: 10px;
        font-weight: 200;
        font-size: 36px;
        line-height: 43px;

        @media screen and (max-width: 575px) {
          padding: 0 20px;
          text-align: center;
          font-size: 20px;
          line-height: 23px;
        }
      }

      &-city {
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;

        @media screen and (max-width: 575px) {
          font-size: 16px;
          line-height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;

          .material-icons {
            font-size: 20px;
          }
        }
      }
    }

    &-info {
      margin: 0 35px;
      max-width: 540px;
      color: $dark-blue;

      @media screen and (max-width: 1220px) {
        text-align: center !important;
      }

      &--right {
        text-align: right;
      }

      &--left {
        text-align: left;
      }
    }

    &-img {
      width: calc(50% - 80px);

      @media screen and (max-width: 991px) {
        min-width: 500px;
      }

      @media screen and (max-width: 500px) {
        min-width: calc(100% + 30px);
        margin: 0 -15px;
      }

      img {
        width: 100%;
      }
    }

    &-link {
      margin-top: 75px;
      font-weight: 200;
      font-size: 36px;
      line-height: 43px;
      color: $dark-blue;
      border-bottom: 1px solid $dark-blue;

      @media screen and (max-width: 575px) {
        margin-top: 0;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  &__events {
    &-slider {
      padding-top: 60px;
      padding-left: 150px;
      margin-bottom: 128px;
      width: 100%;

      @media screen and (max-width: 1220px) {
        padding-left: 60px;
      }
    }

    &-slide {
      width: 31%;
      min-width: 480px;
      padding: 0 40px;
    }

    &-img {
      margin-bottom: 14px;

      img {
        width: 100%;
      }
    }

    &-info {
      max-width: 100%;
    }

    &-link {
      font-weight: 200;
      font-size: 36px;
      line-height: 43px;
      color: $dark-blue;
      border-bottom: 1px solid $dark-blue;
    }
  }
}

.swiper {
  &-button {
    width: 57px;
    height: 57px;
    border-radius: 15px;
    background-color: #DEE4EA;
    outline: none !important;

    &::after {
      font-size: 20px !important;
      color: $dark-blue;
    }

    &-disabled {
      display: none;
    }
  }
}


@media screen and (max-width: 850px) {
  .wow {
    animation-name: none !important;
  }
}