.list {
  width: 1394px;
  margin: 0 auto;

  &__tabs {
    margin-bottom: 47px;

    .nav-link {
      padding: 13px 18px;
      margin-right: 14px;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      color: $dark-blue;
      background-color: $text-light;
      border-radius: 15px;

      &.active {
        color: $text-light;
        background-color: $dark-blue;
      }
    }
  }

  &__size {
    padding-top: 13px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: $dark-blue;
  }

  &__items {
  
    &.show {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__item {
    width: 404px;
    margin-bottom: 263px;

    &-sign {
      position: absolute;
      top: 0;
      right: 15px;
      display: none;
    }

    &.active {
      .list__item-sign {
        display: block;
      }
    }
  }

  &__sub {

    &info {
      margin-bottom: 12px;
    }
    &price {
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      color: $dark-blue;      
    }

    &rating[data-rating="1"] .material-icons,
    &rating[data-rating="2"] .material-icons,
    &rating[data-rating="3"] .material-icons,
    &rating[data-rating="4"] .material-icons,
    &rating[data-rating="5"] .material-icons {
      color: #c4c4c4;
  
      &:first-child {
        color: #FFB906;
      }
    }
    &rating[data-rating="2"] .material-icons,
    &rating[data-rating="3"] .material-icons,
    &rating[data-rating="4"] .material-icons,
    &rating[data-rating="5"] .material-icons {
      &:nth-child(2) {
        color: #FFB906 !important;
      }
    }
    &rating[data-rating="3"] .material-icons,
    &rating[data-rating="4"] .material-icons,
    &rating[data-rating="5"] .material-icons {
      &:nth-child(3) {
        color: #FFB906 !important;
      }
    }
    &rating[data-rating="4"] .material-icons,
    &rating[data-rating="5"] .material-icons {
      &:nth-child(4) {
        color: #FFB906 !important;
      }
    }
    &rating[data-rating="5"] .material-icons {
      &:nth-child(5) {
        color: #FFB906 !important;
      }
    }
  }

  &__img {
    width: 100%;
    margin-bottom: 14px;

    img {
      width: 100%;
    }
  }

  &__name {
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 30px;
    line-height: 36px;
    color: $dark-blue;
  }

  &__city {
    margin-bottom: 22px;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: $dark-blue;
  }

  &__buttons {
    margin-bottom: 14px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    border-radius: 15px;
    background-color: #f2f6f9;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: $dark-blue;
    transition: background-color ease 0.5s;

    &--green {
      background-color: #C7F2A5;
    }

    &-add {
      width: 324px;
      margin-right: 19px;

      &:hover {
        background-color: #d7f5c0;
      }
    }

    &-star {
      width: 61px;

      svg {
        transition: fill ease 0.5s;
        fill: #c4c4c4;
      }

      &.active {
        svg {
          fill: #FFB906;
        }
      }

      &:hover {
        svg {
          fill: #ffdc82;
        }
      }
    }

    &-link {
      margin-bottom: -68px;
      background-color: #AFDBF3;
    }
  }
}
