.article {
  color: $dark-blue;
  padding-bottom: 354px;

  @media screen and (max-width: 991px) {
    padding-bottom: 50px;
  }

  &__header-wr {
    padding: 0 95px;

    @media screen and (max-width: 1608px) {
      padding: 0 20px;
    }
  }

  .list {
    &__item {
      width: 100%;
      margin-bottom: 0;
    }

    &__subprice {
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      @media screen and (max-width: 1024px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__name {
      font-weight: 200;
      font-size: 36px;
      line-height: 43px;
      @media screen and (max-width: 1024px) {
        font-size: 22px;
        line-height: 28px;
      }
    }

    &__city {
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      @media screen and (max-width: 1024px) {
        font-size: 16px;
        line-height: 20px;
        
        > * {
          font-size: 16px;
        }
      }
    }
  }

  &__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 29px;
  }

  &__share {
    display: none;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;


    background: $text-blue;
    border-radius: 10px;
  }

  &__add-to-pass {
    display: none;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 50px;

    margin: 22px 0 42px;

    font-size: 18px;
    background: $button-light-gray;
    border-radius: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    min-width: 1441px;
    max-width: 1518px;
    width: 100%;

    margin: 142px auto 0 auto;

    @media screen and (max-width: 1608px) {
      min-width: unset;
    }

    @media screen and (max-width: 991px) {
      margin-top: 0 !important;
    }
  }

  &__title {
    margin-bottom: 29px;

    font-size: 72px;
    font-weight: 200;
    text-shadow: 0 4px 4px rgba($color: black, $alpha: 0.25);
  }

  &__description {
    flex-grow: 1;
  }

  &__icon-recommandation {
    @media screen and (max-width: 600px) {
      width: 26px;
      height: 26px;
    }

    @media screen and (max-width: 600px) {
      width: 22px;
      height: 22px;
    }

    @media screen and (max-width: 400px) {
      width: 17px;
      height: 17px;
    }
  }

  &__recommendation {
    display: flex;
    align-items: center;

    margin-bottom: 70px;

    &-text {
      margin-left: 8px;

      font-size: 30px;
      color: $text-yellow;
    }
  }

  &__sign {
    width: 800px;
    margin-left: 141px;

    font-size: 30px;

    &-bold {
      font-weight: 600;
    }

    @media screen and (max-width: 1608px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__link {
    color: $text-blue;
    font-weight: 400;
  }

  &__information {
    margin-top: 14px;
    font-weight: 300;

    @media screen and (max-width: 768px) {
      font-size: 22px;
    }
  }

  &__block {
    margin-top: 305px;
    padding-left: 20px;

    @media screen and (max-width: 1260px) {
      padding: 0;
    }

    @media screen and (max-width: 576px) {
      padding: 0 !important;
    }
  }

  &__info {
    max-width: 1332px;
    margin: 305px auto 0;
  }

  &__img-wr {
    max-width: 1332px;

    img {
      width: 100%;
    }
  }

  &__text {
    font-size: 30px;
    line-height: 38px;
    font-weight: 300;
  }

  &__block-info {
    margin: 102px 0 0 64px;
  }

  &__contact-title {
    margin-top: 36px;
    font-weight: 600;
  }

  &__contact {
    display: block;
  }

  &__slider {
    position: relative;
    max-width: 1307px;
    padding-right: 20px;
    margin: 305px auto;

    .swiper-button-next,
    .swiper-button-prev {
      top: calc(50% - 55px);

      @media screen and (max-width: 768px) {
        width: 36px!important;
        height: 36px!important;
        top: calc(50% - 36px);

        &:after {
          font-size: 14px!important;
        }
      }
    } 
     .swiper-button-next {
      right: 0;

      @media screen and (max-width: 1350px) {
        right: 35px;
      }

      @media screen and (max-width: 576px) {
        right: 10px;
      }
    }
  
    .swiper-button-prev {
      left: 0;

      @media screen and (max-width: 1350px) {
        left: 35px;
      }

      @media screen and (max-width: 576px) {
        left: 10px;
      }
    }

    &-container {
      width: 1107px;

      @media screen and (max-width: 1350px) {
        width: 100%;
      }
    }

    &-img-wr {
      width: 100%;
      margin-bottom: 15px;

      img {
        width: 100%;
      }
    }

    &-description {
      margin-bottom: 15px;
      font-weight: 200;
      font-size: 36px;
      line-height: 43px;
      color: $dark-blue;

      @media screen and (max-width: 991px) {
        font-size: 28px;
        line-height: 34px;
      }

      @media screen and (max-width: 768px) {
        font-size: 22px;
        line-height: 26px;
      }

      @media screen and (max-width: 576px) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
      }
    }

    &-author {
      font-weight: 300;
      font-size: 30px;
      line-height: 38px;

      @media screen and (max-width: 991px) {
        font-size: 24px;
        line-height: 30px;
      }

      @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 20px;
      }

      @media screen and (max-width: 576px) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  &__history {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1585px;

    margin-top: 305px;
    margin-left: auto;

    

    @media screen and (max-width: 1930px) {
      padding-left: 32px;
    }

    @media screen and (max-width: 1240px) {
      padding-left: 0px;
    }

    &-block {
      max-width: 773px;

      @media screen and (max-width: 1240px) {
        max-width: unset;
      }
    }
  }

  &__name {
    position: relative;
    padding-left: 21px;
    margin-bottom: 67px;
    font-size: 64px;
    font-weight: 200;
  }

  &__name::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 0px;
    width: 1px;
    height: 65px;

    background: $text-blue;
  }

  &__history-text {
    margin-right: 116px;

    @media screen and (max-width: 1240px) {
      padding-bottom: 180px;
    }

    @media screen and (max-width: 800px) {
      padding-bottom: 150px; 
    }

    @media screen and (max-width: 400px) {
      padding-bottom: 125px;
    }
  }

  &__pass {
    @media screen and (max-width: 1608px) {
      padding-right: 20px;
    }
  }

  &__pass-text {
    max-width: 1177px;
    margin: 0 auto 95px;
  }

  &__map-wrap {
    width: 100%;
    max-width: 1332px;
    display: block;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  &__feedback {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1177px;
    padding-left: 0 !important;

    //width: 1307px;

    @media screen and (max-width: 1290px) {
      max-width: 870px;
    }

    .swiper-button {
      @media screen and (max-width: 576px) {
        width: 36px !important;
        height: 36px !important;
        &:after {
          font-size: 14px !important;
        }
      }
    }

    .swiper-button-prev {
      left: -70px;
      top: 35%;

      @media screen and (max-width: 1350px) {
        left: -50px;  
      }

      @media screen and (max-width: 1290px) {
        left: -65px;
      }

      @media screen and (max-width: 1012px) {
        left: 10px;
      }
    }

    .swiper-button-next {
      right: -70px;
      top: 35%;

      @media screen and (max-width: 1350px) {
        right: -50px;
      }

      @media screen and (max-width: 1290px) {
        right: -65px;
      }

      @media screen and (max-width: 1012px) {
        right: 10px;
      }
    }

    .feedback {
      @media screen and (max-width: 1012px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        > * {
          max-width: 60%;
          min-width: 230px;
        }
      }

    }
  }

  &__get-feedback {
    display: block;

    width: 352px;
    height: 70px;

    margin: 115px auto 0;

    font-size: 24px;
    color: $dark-blue;

    background: $button-light-gray;
    border-radius: 15px;

    @media screen and (max-width: 576px) {
      font-size: 14px;
      height: 37px;
      max-width: 166px;
      margin-top: 16px;
      background: #dee4ea;
    }
  }

  &__name-position {
    margin-left: 333px;
  }

  &__events-slider-cont {
    .swiper-slide-prev {
      margin-left: -100px;
      margin-right: 176px !important;

      @media screen and (max-width: 1024px) {
        margin-left: -50px;
        margin-right: 90px !important;
      }

      @media screen and (max-width: 576px) {
        margin-left: -20px;
        margin-right: 60px!important;
      }
    }  


    
    .swiper-slide {
      width: 560px;

      @media screen and (max-width: 1024px) {
        width: 350px;
      }

      @media screen and (max-width: 425px) {
        width: 224px;
      }
    }

    .swiper-button {
      top: calc(50% - 82px);

      @media screen and (max-width: 576px) {
        display: none;
      }
    }
  }
}

.page {
  &__route {
    display: flex;
    flex-wrap: wrap;
    max-width: 1344px;
    margin: 184px auto 0;
    overflow: hidden;

    @media screen and (max-width: 1350px) {
      justify-content: center;
    }

    @media screen and (max-width: 991px) {
      margin-top: 90px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    &-item {
      position: relative;
      width: 312px;
      height: 270px;
      margin-left: 97px;
      margin-right: 49px;
      margin-bottom: 150px;

      @media screen and (max-width: 768px) {
        margin-bottom: 60px;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      &:nth-child(3) {
        margin-right: 10px;

        @media screen and (max-width: 991px) {
          margin-right: 43px;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      &:not(:first-child) {
        &::before {
          content: '';
          position: absolute;
          top: 93px;
          left: -97px;
          display: block;
          width: 73px;
          border-bottom: 1px solid $dark-blue;

          @media screen and (max-width: 768px) {
            content: none;
          }
        }
      }

      &:not(:last-child) {
        &::after {
          content: '';
          position: absolute;
          top: 93px;
          left: calc(100% - 53px);
          display: block;
          width: 102px;
          border-bottom: 1px solid $dark-blue;

          @media screen and (max-width: 991px) {
            left: calc(100% - -20px);
            display: block;
            width: 59px;
          }

          @media screen and (max-width: 768px) {
            top: 100%;
            left: calc(50%);
            width: 0;
            height: 28px;
            border-left: 1px solid $dark-blue;
            border-bottom: none;
          }
        }
      }

      @media screen and (max-width: 991px) {
        width: 235px;
      }
    }

    &-img-wr {
      width: 235px;
      margin-bottom: 5px;

      img {
        width: 100%;
      }
    }

    &-name {
      margin-bottom: 0;
      font-weight: 200;
      font-size: 24px;
      line-height: 29px;
      color: $dark-blue;
    }

    &-city {
      display: flex;
      align-items: center;
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
      color: $dark-blue;
    }
  }
}

.page-nav {
  width: 358px;

  color: $text-light;

  &__button {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    padding: 27px 34px 7px;

    font-size: 24px;

    background-color: $dark-blue;
    border-radius: 15px;
  }

  &__item {
    list-style-type: none;
    margin: 20px 0;
  }

  &__button {
    margin: 18px 0;
  }

  &__off {
    margin-right: 18px;

    width: 99px;
    height: 48px;

    color: $dark-blue;
    font-size: 24px;
    background: $button-light-blue;

    border-radius: 15px;
  }

  &__icon-add {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 38px;
    color: $text-blue;
  }

  &__share {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 241px;
    height: 47px;

    color: white;
    font-size: 24px;
    background: $text-blue;

    border-radius: 15px;
  }

  &__icon-share {
    margin-left: 28px;
  }

  &__link-map {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 47px;

    font-size: 24px;
    color: $dark-blue;
    background: $text-light-blue;

    border-radius: 15px;
  }
}

.feedback {
  font-size: 24px;

  &__img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  &__name {
    color: $text-gray;
    font-size: 36px;
    text-align: center;

    @media screen and (max-width: 576px) {
      font-size: 20px;
      margin-top: 10px;
    }
  }

  &__data {
    text-align: center;
    color: $text-blue;
    @media screen and (max-width: 576px) {
      font-size: 18px;
    }
  }

  &__stars {
    justify-content: center;
  }

  &__text {
    font-weight: 300;
    line-height: 106%;

    @media screen and (max-width: 576px) {
      font-size: 14px;
      text-align: center;
    }
  }

  &__star {
    font-size: 39px;
    margin: 10px 11px;

    @media screen and (max-width: 576px) {
      font-size: 20px;
      margin: 5px !important;
    }
  }

  &__reply {
    display: flex;
    align-items: center;

    margin-top: 35px;

    @media screen and (max-width: 576px) {
      margin-top: 10px;
    }
  }

  &__icon {
    margin: 0 13px;
    color: $dark-blue;

    @media screen and (max-width: 576px) {
      font-size: 16px;
      margin-top: 10px;
    }
  }

  &__reply-name {
    font-size: 24px;
    color: $text-gray;
    font-weight: 600;
    line-height: 25px;

    @media screen and (max-width: 576px) {
      font-size: 18px;
      margin-top: 10px;
    }
  }

  &__reply-data {
    margin-left: 50px;
    font-size: 24px;
    color: $text-blue;

    @media screen and (max-width: 576px) {
      font-size: 16px;
    }
  }

  &__reply-text {
    margin-top: 11px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 42px auto 0;

    width: 170px;
    height: 47px;

    background: $button-light-blue;
    border-radius: 15px;

    @media screen and (max-width: 576px) {
      height: 37px;
      font-size: 14px;
      max-width: 166px;

      > * {
        font-size: 14px;
      }
    }
  }

  &__button-icon {
    margin-left: 8px;
    color: $dark-blue;
  }
}


@media  screen and (max-width: 1700px) {
  .article {
    &__header {
      padding-left: 80px;
      padding-right: 20px;

      margin: 140px 0 0;
      /*margin-left: 0;
      margin-right: 0;*/
    }

  }
}

@media screen and (max-width: 1600px) {
  .page-nav {
    padding-right: 30px;
  }
}

@media  screen and (max-width: 1520px) {

  .article {
    &__header {
      /*margin: 60px;*/
      padding-left: 70px;
    }

    &__info {
      margin-top: 250px;
    }

    &__title {
      font-size: 50px;
    }

    &__recommendation-text {
      font-size: 28px;
    }

    &__icon-recommandation {
      font-size: 24px;
    }

    &__sign-bold,
    &__link {
      font-size: 26px;
    }

    &__sign > &__text {
      margin: 19px 0 0;
      padding: 0;
    }

    &__text {
      margin: 60px 0 0;
      padding: 0 32px;
      font-size: 28px;
    }
  }


}

@media screen and (max-width: 1300px) {
  .article {
    &__info {
      margin-top: 200px;
    }
  }
}

@media screen and (max-width: 1240px) {
  .article {
    &__block {
      margin-top: 290px;
    }

    &__header {
      padding-left: 60px;
    }
    
    &__name-position {
      margin-top: 0;
    }
    
    &__page-nav {
      display: none;
    }

    &__title {
      font-size: 46px;
    }

    &__share {
      width: 46px;
      height: 46px;
    }

    &__title-wrap {
      margin-bottom: 0;
    }
    
    &__recommendation-text {
      font-size: 26px;
    }

    &__share {
      display: flex;
      margin-right: 60px;
    }
    
    &__add-to-pass {
      display: flex;
    }
    
    &__sign {
      margin: 0;
      width: unset;
      padding-right: 50px;
    }
    
    &__history {
        justify-content: center;
        flex-direction: column;

        &-block {
          width: 100%;
        }
    }

    &__info {
      margin-top: 200px;
    }

    &__block {
      padding-left: 20px;
    }

    &__img-wr {
      margin-top: 30px;
    }
    
    &__contact-title,
    &__article__link {
      font-size: 24px;
    }

    &__history-text {
      margin-right: unset;
    }

    &__name {
      font-size: 46px;
      margin-left: 32px;
    }

    &__name::after {
      height: 50px;
      top: 4px;
    }
  }
}

@media screen and (max-width: 900px) {
  .article {
    &__block {
      margin-top: 280px;
    }

    &__header {
      padding-left: 45px;
    }

    &__sign-bold,
    &__link {
      font-size: 22px;
    }

    &__info {
      margin-top: 150px;
    }

    &__recommendation {
      margin-bottom: 50px;
    }

    &__title {
      font-size: 44px;
    }

    &__share {
      width: 45px;
      height: 45px;

      margin-right: 45px;
    }

    &__recommendation-text {
      font-size: 24px;
    }

    &__contact-title,
    &__article__link {
      font-size: 18px;
    }

    &__name {
      font-size: 36px;
    }

    &__name::after {
      height: 36px;
      top: 7px;
    }
  }
}

@media screen and (max-width: 600px) {
  .article {
    &__block {
      margin-top: 140px;
    }

    &__header {
      padding-left: 36px;
    }

    &__text {
      font-size: 16px;
      line-height: 20px;
    }

    &__sign {
      padding-right: 0;
    }

    &__sign-bold,
    &__link,
    &__information {
      font-size: 16px;
      line-height: 22px;
    }

    &__recommendation {
      margin-bottom: 30px;
    }

    &__recommendation-text {
      font-size: 18px;
    }

    &__title {
      font-size: 40px;
    }

    &__add-to-pass {
      font-size: 14px;

      width: 166px;
      height: 37px;
    }

    &__share {
      width: 41px;
      height: 41px;

      margin-right: 30px;
    }

    &__info {
      margin-top: 100px;
    }

    &__contact-title,
    &__article__link {
      font-size: 16px;
    }

    &__name {
      font-size: 28px;
      margin-bottom: 60px;
    }

    &__name::after {
      height: 29px;
      top: 4px;
    }
  }
}

@media screen and (max-width: 400px) {
  .article {
    &__block {
      margin-top: 102px;
    }

    &__header {
      padding-left: 32px;
    }

    &__text {
      font-size: 16px;
    }

    &__sign-bold,
    &__link {
      font-size: 13px;
    }

    &__recommendation {
      margin-bottom: 22px;
    }

    &__recommendation-text {
      font-size: 16px;
    }

    &__add-to-pass {
      font-size: 14px;
    }

    &__title {
      font-size: 36px;
    }

    &__info {
      margin-top: 69px;
    }

    &__share {
      width: 37px;
      height: 37px;

      margin-right: 11px;
    }

    &__name {
      font-size: 24px;
    }

    &__name::after {
      top: 3px;
      height: 25px;
    }
  }
}



p,
h1,
ul {
  margin: 0;
  padding: 0;
}
