@import "vars.scss";
@import "header.scss";
@import "footer.scss";
@import "index.scss";
@import "page-heading";
@import "places";

.exo {
  font-family: "Exo 2", sans-serif;
}

body {
  min-height: 100vh;
  padding-top: 74px;
  font-family: "Source Sans Pro", sans-serif;
  cursor: default;
}

main {
  color: $dark-blue;
}

.material-icons {
  cursor: pointer;
}

button,
input,
textarea {
  border: none !important;

  &:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

a {
  cursor: pointer;

  &:not(.nop) {
    transition: opacity ease 0.5s;

    &:hover {
      text-decoration: none;
      color: inherit;
      opacity: 0.65;
    }
  }
}
